/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* RTL Support for Urdu language */
html[dir='rtl'] {
  direction: rtl;
  text-align: right;
}

/* Specific RTL adjustments for Docusaurus components */
html[dir='rtl'] .navbar {
  text-align: right;
}

html[dir='rtl'] .navbar__items--right {
  margin-left: 0;
  margin-right: 1rem;
}

html[dir='rtl'] .navbar__items--left {
  margin-right: 0;
  margin-left: 1rem;
}

html[dir='rtl'] .menu__list-item {
  text-align: right;
}

html[dir='rtl'] .pagination-nav__label {
  text-align: right;
}

html[dir='rtl'] .table-of-contents__link {
  text-align: right;
}

html[dir='rtl'] .theme-edit-this-page {
  text-align: right;
}

/* Adjust direction for code blocks */
html[dir='rtl'] pre,
html[dir='rtl'] code {
  direction: ltr;
  text-align: left;
}

/* Adjust sidebar for RTL */
html[dir='rtl'] .sidebar {
  right: 0;
  left: auto;
}

html[dir='rtl'] .docSidebarContainer {
  border-right: none;
  border-left: 1px solid var(--ifm-toc-border-color);
}
